body{
    display:flex;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
}
#main{
    width: 700px;
    font-size: 16px;
}
#title{
    width: 100%;
    text-align: center;
    letter-spacing: 50px;
}
#img-div{
    width: 100%;
}
#img-div img{
    width: 100%;
    margin: 0;
    padding: 0;
}
#img-caption, #img-caption p{
    margin: 0;
    padding: 0;
    font-size: 10px;
    text-align: center;
}
#tribute-info{
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}